@import "tailwindcss";

@theme {
    --breakpoint-*: initial;
    --breakpoint-xs: 32rem;
    --breakpoint-sm: 42rem;
    --breakpoint-md: 64rem;
    --breakpoint-lg: 80rem;

    --container-*: initial;
    --container-xs: 32rem;
    --container-sm: 42rem;
    --container-md: 64rem;
    --container-lg: 80rem;

    --color-transparent-50: hsl(0, 0%, 95%, 0.25);
    --color-transparent-100: hsl(0, 0%, 90%, 0.25);
    --color-transparent-200: hsl(0, 0%, 80%, 0.25);
    --color-transparent-300: hsl(0, 0%, 70%, 0.25);
    --color-transparent-400: hsl(0, 0%, 60%, 0.25);
    --color-transparent-500: hsl(0, 0%, 50%, 0.25);
    --color-transparent-600: hsl(0, 0%, 40%, 0.25);
    --color-transparent-700: hsl(0, 0%, 30%, 0.25);
    --color-transparent-800: hsl(0, 0%, 20%, 0.25);
    --color-transparent-900: hsl(0, 0%, 10%, 0.25);
    --color-transparent-950: hsl(0, 0%, 5%, 0.25);
}
