---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <div class="w-fit flex flex-col mx-auto gap-y-3">
        <span class="text-4xl my-3">Colors</span>
        <div class="flex flex-col gap-y-2">
            <span class="text-2xl">Transparent + Background</span>
            <div class="flex flex-row">
                <div class="size-16 bg-transparent-50">50</div>
                <div class="size-16 bg-transparent-100">100</div>
                <div class="size-16 bg-transparent-200">200</div>
                <div class="size-16 bg-transparent-300">300</div>
                <div class="size-16 bg-transparent-400">400</div>
                <div class="size-16 bg-transparent-500">500</div>
                <div class="size-16 bg-transparent-600">600</div>
                <div class="size-16 bg-transparent-700">700</div>
                <div class="size-16 bg-transparent-800">800</div>
                <div class="size-16 bg-transparent-900">900</div>
                <div class="size-16 bg-transparent-950">950</div>
            </div>
        </div>
        <div class="flex flex-col gap-y-2">
            <span class="text-2xl">Transparent + Dark Background</span>
            <div class="flex flex-row bg-gray-900 **:text-white">
                <div class="size-16 bg-transparent-50">50</div>
                <div class="size-16 bg-transparent-100">100</div>
                <div class="size-16 bg-transparent-200">200</div>
                <div class="size-16 bg-transparent-300">300</div>
                <div class="size-16 bg-transparent-400">400</div>
                <div class="size-16 bg-transparent-500">500</div>
                <div class="size-16 bg-transparent-600">600</div>
                <div class="size-16 bg-transparent-700">700</div>
                <div class="size-16 bg-transparent-800">800</div>
                <div class="size-16 bg-transparent-900">900</div>
                <div class="size-16 bg-transparent-950">950</div>
            </div>
        </div>
    </div>
</MainLayout>
