---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <!-- Main Container -->
    <div class="xs:max-w-sm md:max-w-md lg:max-w-lg mx-auto flex flex-row">
        <div class="w-full flex flex-row">
            <!-- Nav -->
            <div class="bg-red-100 hidden xs:flex">
                <div class="h-screen sticky top-0">
                    <div
                        class="h-full flex flex-row justify-center items-center"
                    >
                        <span class="text-6xl">
                            <code>Nav</code>
                        </span>
                    </div>
                </div>
            </div>
            <div class="grow grid grid-cols-1 md:grid-cols-10">
                <!-- Feed -->
                <div class="col-span-1 md:col-span-6 bg-blue-100">
                    <div class="h-96 flex flex-row justify-center items-center">
                        <span class="text-6xl">
                            <code>Feed</code>
                        </span>
                    </div>
                    <div class="h-96 flex flex-row justify-center items-center">
                        <span class="text-6xl">
                            <code>Feed</code>
                        </span>
                    </div>
                    <div class="h-96 flex flex-row justify-center items-center">
                        <span class="text-6xl">
                            <code>Feed</code>
                        </span>
                    </div>
                </div>
                <!-- News -->
                <div class="col-span-1 md:col-span-4 bg-green-100">
                    <div class="h-96 flex flex-row justify-center items-center">
                        <span class="text-6xl">
                            <code>News</code>
                        </span>
                    </div>
                    <div class="h-96 flex flex-row justify-center items-center">
                        <span class="text-6xl">
                            <code>News</code>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</MainLayout>
