---
import Feed from "../components/Feed.astro";
import MainLayout from "../layouts/MainLayout.astro";
import NavBar from "../components/NavBar.astro";
import NewsBar from "../components/NewsBar.astro";
---

<MainLayout>
    <!-- Main Container -->
    <div class="xs:max-w-sm md:max-w-md lg:max-w-lg mx-auto flex flex-row">
        <div class="w-full flex flex-row">
            <!-- Nav -->
            <div class="hidden xs:flex">
                <div class="h-screen sticky top-0 overflow-auto">
                    <NavBar />
                </div>
            </div>
            <div class="grow grid grid-cols-1 md:grid-cols-10">
                <!-- Feed -->
                <div class="col-span-1 md:col-span-6">
                    <Feed />
                </div>
                <!-- News -->
                <div class="col-span-1 md:col-span-4">
                    <NewsBar />
                </div>
            </div>
        </div>
    </div>
</MainLayout>
