---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <div class="h-screen flex flex-row justify-center items-center">
        <span class="text-8xl"> Hello World! </span>
    </div>
</MainLayout>
