<div class="flex flex-row border-b border-transparent-200">
    <button
        class="grow cursor-pointer transition-colors hover:bg-transparent-400"
    >
        <div class="flex justify-center p-3 pb-0">
            <div class="flex flex-col gap-y-3">
                <span class="font-medium">For you</span>
                <hr class="border-[2.5px] rounded-full" />
            </div>
        </div>
    </button>
    <button
        class="grow cursor-pointer transition-colors hover:bg-transparent-400"
    >
        <div class="flex justify-center p-3 pb-0">
            <div class="flex flex-col gap-y-3">
                <span class="font-medium">Following</span>
                <hr class="border-[2.5px] rounded-full border-transparent" />
            </div>
        </div>
    </button>
</div>
