---
import FeedPost from "./FeedPost.astro";
import FeedTabs from "./FeedTabs.astro";
import FeedWritePost from "./FeedWritePost.astro";
---

<div class="size-full border-x border-transparent-200">
    <FeedTabs />
    <FeedWritePost />
    <div
        class="flex flex-col border-b divide-y divide-transparent-200 border-transparent-200 mb-32"
    >
        <FeedPost />
        <FeedPost />
        <FeedPost />
    </div>
</div>
