<div class="w-fit cursor-pointer">
    <div class="size-14 rounded-full hover:bg-darken transition-colors">
        <div class="size-full flex flex-row justify-center items-center pb-1">
            <span class="text-3xl font-medium">O&pi;</span>
        </div>
    </div>
</div>
