---
import NavFItem from "./NavFItem.astro";
import Logo from "./Logo.astro";
---

<div class="size-full flex flex-col">
    <ul class="flex flex-col gap-y-1 ps-3">
        <li><Logo /></li>
        <li>
            <NavFItem>
                <svg
                    slot="icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-house-icon lucide-house"
                >
                    <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"></path>
                    <path
                        d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
                    ></path>
                </svg>
                <span slot="title">Home</span>
            </NavFItem>
        </li>
        <li>
            <NavFItem>
                <svg
                    slot="icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-search-icon lucide-search"
                >
                    <path d="m21 21-4.34-4.34"></path>
                    <circle cx="11" cy="11" r="8"></circle>
                </svg>
                <span slot="title">Explore</span>
            </NavFItem>
        </li>
        <li>
            <NavFItem>
                <svg
                    slot="icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-bell-icon lucide-bell"
                >
                    <path d="M10.268 21a2 2 0 0 0 3.464 0"></path>
                    <path
                        d="M3.262 15.326A1 1 0 0 0 4 17h16a1 1 0 0 0 .74-1.673C19.41 13.956 18 12.499 18 8A6 6 0 0 0 6 8c0 4.499-1.411 5.956-2.738 7.326"
                    ></path>
                </svg>
                <span slot="title">Notifications</span>
            </NavFItem>
        </li>
        <li>
            <NavFItem>
                <svg
                    slot="icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-message-circle-more-icon lucide-message-circle-more"
                >
                    <path
                        d="M2.992 16.342a2 2 0 0 1 .094 1.167l-1.065 3.29a1 1 0 0 0 1.236 1.168l3.413-.998a2 2 0 0 1 1.099.092 10 10 0 1 0-4.777-4.719"
                    ></path>
                    <path d="M8 12h.01"></path>
                    <path d="M12 12h.01"></path>
                    <path d="M16 12h.01"></path>
                </svg>
                <span slot="title">Messages</span>
            </NavFItem>
        </li>
        <li>
            <NavFItem>
                <svg
                    slot="icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-user-round-icon lucide-user-round"
                >
                    <circle cx="12" cy="8" r="5"></circle>
                    <path d="M20 21a8 8 0 0 0-16 0"></path>
                </svg>
                <span slot="title">Profile</span>
            </NavFItem>
        </li>
    </ul>
    <button class="w-54 cursor-pointer rounded-full m-3 me-8">
        <div
            class="py-3 rounded-full bg-gray-900 hover:bg-gray-800 transition-colors"
        >
            <span class="text-xl font-medium text-white">Post</span>
        </div>
    </button>
    <div class="mt-auto p-2">
        <button class="w-full cursor-pointer rounded-full">
            <div
                class="hover:bg-transparent-400 transition-colors rounded-full"
            >
                <div class="flex flex-row items-center p-2 gap-x-2">
                    <img
                        src="/src/images/profile_picture.png"
                        alt="Profile Picture"
                        class="size-12 rounded-full"
                    />
                    <div class="flex flex-col items-start">
                        <span class="truncate max-w-36 text-gray-900">
                            Spongebob Squarepants
                        </span>
                        <span class="truncate max-w-36 text-gray-600">
                            @spongebob
                        </span>
                    </div>
                    <div class="ms-auto">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-ellipsis-icon lucide-ellipsis"
                        >
                            <circle cx="12" cy="12" r="1"></circle>
                            <circle cx="19" cy="12" r="1"></circle>
                            <circle cx="5" cy="12" r="1"></circle>
                        </svg>
                    </div>
                </div>
            </div>
        </button>
    </div>
</div>
